{% extends 'base.html.twig' %}

{% block title %}Edit Band{% endblock %}

{% block content %}
    <h1>Edit Band</h1>

    {{ include('band/_form.html.twig', {
        'button_label': 'Update',
        'band': band,
        'form_title': 'Edit band'
    }) }}

    <a href="{{ path('app_band_index') }}">back to list</a>
    {#    the following is no longer used: #}
    {#    {{ include('band/_delete_form.html.twig', {'band':band}) }} #}
{% endblock %}
